Apps:
Python 3.5.x
iPython
TensorFlow 1.0


Linux (Distribution to be decided by Danny)
Centos with Citrix ?

GPU Support / Needs CUDA 

Dependencies...
pip install image
pip install ipython
pip install display

